.btns-div {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

/* Main Buttons */
.btn {
    border: none;
    border-radius: 10px;

    text-align: center;
    display: inline-block;
}

.btn-lg {
    width: clamp(15rem, 35vw, 50rem);
    height: clamp(8rem, 5vw, 10rem);

    margin: 1.5rem;

    /* 'clamp' lets us define a max size and min size, very good for mobile scaling */
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;

    color: white;

    background-color: var(--strawberry-red);
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-sm {
    width: clamp(15rem, 32vw, 43rem);
    height: clamp(4rem, 3vw, 6rem);


    margin: 0.7rem;

    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: bold;

    color: white;

    background-color: var(--wisteria-blue);
    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}