.navbar-container {
    width: 100%;
    background-color: var(--graphite);

    display: flex;
    align-items: center;
    position: relative; /* needed for absolute centering */
}

.navbar-desktop {
    display: '';
}

.navbar-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }
}

/* Logo */

.navbar-logo-container {
    position: relative;
    width: 12rem;
    height: 4.5rem;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo-img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 4rem;
    width: 4rem;

    z-index: 1;

    margin-left: 1rem;
}

.navbar-logo-text {
    position: relative;
    z-index: 2;

    width: 100%;
    margin: 0;
    text-align: left;
    margin-left: 2rem;

    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

/* Nav Items */

.nav-item-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* true center of navbar */
    width: max-content;
    align-self: auto;
}

.nav-item {
    color: var(--strawberry-red);

    font-size: 1.4rem;
    font-weight: bold;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    cursor: pointer;
}

.nav-item:hover {
    text-shadow: 1px 1px var(--wisteria-blue);
    text-decoration: underline;
}

/* Mobile Nav Items */

.expand-btn-div {
    position: absolute;
    right: 1rem;
    width: max-content;
    align-self: auto;
}

.expand-btn {
    font-size: 2rem;
    font-weight: bold;
    color: var(--strawberry-red);
    background-color: var(--graphite);

    border: 2px solid var(--strawberry-red);
    border-radius: 10px;

    
    height: 3rem;
    width: 3.5rem;

    cursor: pointer;
}

.mobile-nav-container {
    
}

.mobile-nav-item {

}