.section-shading {
    background-color: grey;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: fit-content;
}

/* About Container */

.about-container {
    display: flex;

    gap: 1rem;
    grid-template-columns: auto auto;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
}

.about-container-item {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.about-container-item-no-flex {
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Experience Section */

.experience-container {
    width: 100%;
    height: fit-content;
    display: flex;

    padding: 2rem;
}

.experience-container-mobile {
    width: 100%;
    height: fit-content;
    padding: 2rem;
}