

.skills-block-red {

    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;

    margin: 0.8rem;

    background-color: var(--strawberry-red);
    box-shadow: 3px, 3px, var(--wisteria-blue);
    color: var(--wisteria-blue);

    border-radius: 12px;
}

.skills-block-blue {

    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;

    margin: 0.8rem;

    background-color: var(--wisteria-blue);
    box-shadow: 3px, 3px, var(--strawberry-red);
    color: var(--strawberry-red);

    border-radius: 12px;
}

.skills-item {
    height: clamp(8rem, 6vw, 10rem);
    width: clamp(5rem, 4vw, 7rem);

    border-radius: 12px;
    background-color: white;

    padding: 0.4rem;
    margin: 0.4rem;
}

.skills-img {
    width: 100%;
    height: 70%;
}

.skills-txt {
    font-weight: bold;
    font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}

