.text-container {
    text-align: center;

    height: fit-content;
    width: 80%;

    background-color: var(--graphite);

    border: 2.5px solid var(--wisteria-blue); 
    border-radius: 15px;

    padding: 1rem;
}

.text-title {
    font-size: 1.8rem;

    color: var(--strawberry-red);
    font-weight: bold;
    margin: 0;
}

.text-subtitle {
    margin-top: 0.5rem;
    font-size: 1.5rem;

    color: var(--wisteria-blue);
    font-weight: bold;
}

.text-surtitle {
    margin-top: 0.3rem;
    font-size: 1.35rem;

    color: var(--banana-cream);
    font-style: italic;
}

.text-p {
    font-size: 1.2rem;
    word-wrap: break-word;

    width: 100%;

    color: white;
}

li {
    margin-top: 0.7rem;
}

.text-ul {
    font-size: 1.2rem;
    width: fit-content;
    color: white;

    list-style-position: outside;

    text-align: left;
    margin-left: -0.4rem;

    overflow-wrap: break-word;
    overflow-y: auto;
}